body {
    background-image: url("../images/background.jpg");
}

.container-fluid {
    color: #fff;
    opacity: 1.0;
}

p {
    font-size:65px;
}

.question {
    margin-top: 25px;
}

/* opacity for background  */